#userInput{
	position:absolute;
	bottom:10px;
	left:10px;
	width:99%;
}

#firstParagraph{
	border:rebeccapurple solid 1px;
	border-radius: 5px;
	height:96%;
	overflow-y:scroll;
	padding:5px;
	font-size:12pt;
}

p {
	margin:0px 0px 10px 0px;
}